<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="add_class_to_search_input_at_home_page_of_luma_theme"
            type="Bytology\LoadCssForAuthenticated\Plugin\Magento\Framework\View\Page\Config\Renderer"/>
    </type>

    <type name="Magento\PageCache\Model\DepersonalizeChecker">
        <plugin name="check_logged_in" type="Bytology\LoadCssForAuthenticated\Plugin\Magento\PageCache\Model\DepersonalizeChecker"/>
    </type>

</config>